{% extends "base.html" %}
{% block title %} Bilet Al {% endblock %}
{% block ctitle %} Bilet Al {% endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <h3>Bilet Bilgileri</h3>
        </thead>
        <tbody>
            <tr>
                <th>Uçuş Numarası</th>
                <th>{{ ticket.tid }}</th>

            </tr>
            <tr>
                <th>Kalkış Noktası</th>
                <td>{{ ticket.tfrom }}</th>
            </tr>
            <tr>
                <th>Varış Noktası</th>
                <td>{{ ticket.twhere }}</th>
            </tr>
            <tr>
                <th>Uçuş Tarihi</th>
                <td>{{ ticket.tdate }}</th>
            </tr>
            <tr>
                <th>Kalkış Saati</th>
                <td>{{ ticket.ttime }}</th>
            </tr>
            <tr>
                <th>Varış Saati</th>
                <td>{{ ticket.tetime }}</th>
            </tr>
            <tr>
                <th>Bilet Ücreti</th>
                <td>{{ ticket.tprice }}</th>
            </tr>
            <tr>
                <th>Boş Koltuk Sayısı</th>
                <td>{{ ticket.taseats }}</th>
            </tr>
        </tbody>
    </table>

    <form method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Koltuk Sayısı</span>
            </div>
        <input type="number" value="1" name="seatn" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
         </div>
         <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Bonus Kullan ({{ user.bonus }}₺ ) </span>
            </div>
        <input type="number" value="0" name="bonusn" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
         </div>
        <button  type ="submit" name="action" value="Basket" class ="btn btn-primary btn-block">Sepete Ekle</button>
        <button type ="submit" name="action" value="Buy" class ="btn btn-primary btn-block">Satın Al</button>
    </form>
</div>

{% endblock %}

